/////////////////////////////////////////
// HOUSEKEEPING
/////////////////////////////////////////
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit; -webkit-margin-before:0em; -webkit-margin-after:0em;}
.row{font-family: serif;}

/////////////////////////////////////////
// IMPORTS, VARIABLES, MIXINS
/////////////////////////////////////////
@import 'includes/bootstrap/_normalize';
@import 'includes/bootstrap/_variables';
@import 'includes/bootstrap/_glyphicons';
@import 'includes/_animate';
@import 'includes/_toast';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


$breakpoint-small: 480px;
$breakpoint-medium: 768px;

.wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 1.4444rem;
}

/////////////////////////////////////////
// CUSTOM SASS
/////////////////////////////////////////

body {
    background: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

h1 {
    margin-top: 20px;
    font-size: 3vw;
    display: inline-flex;
}

h2 {
    font-size: 2.2vw;
    margin-bottom: 10px;
}

.row {
    margin-top: 20px;
}

.box {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    font-size: 3vw;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;
}

.box1 { background: #1abc9c;}
.box2 { background: #1476db;}
.box3 { background: #8e23e2;}
.box4 { background: #2c3749;}
.box5 { background: #ffc530;}
.box6 { background: #fa8f1f;}
.box7 { background: #c43b23;}
.box8 { background: #cde0ff;}
.box9 { background: #00ed9f;}
.box10 { background: #008059;}

.wrap div{
    border: 10px solid rgb(48, 48, 48);
    height: 25vh;
    overflow: hidden;
    margin-bottom: 30px;
    div{border: 0; height: auto; margin: 0;}
}

// Display Flex
.container1 { display: flex; }
.container2 { display: inline-flex;}
// Flex Direction
.container3 { display: flex; flex-direction: row; border-color: red;}
.container4 { display: flex; flex-direction: row-reverse;}
.axis{ z-index: 2; color:white; font-size: 3vw;}
.wrap .container5 { display: flex; flex-direction:column; height: auto;}
.wrap .container6 { display: flex; flex-direction:column-reverse; height: auto;}
// Flex Wrap
.container7 { display: flex; flex-wrap: wrap; .box {width:33.33%; height:20%;} }
.container8 { display: flex; flex-wrap: wrap-reverse; .box {width:33.3333333%;} }
.container9 { display: flex; flex-wrap:wrap; flex-direction: column; .box{height: 33.33%;width: 10%} }
.container10 { display: flex; flex-wrap:wrap-reverse; flex-direction: column; .box{height: 33.33%;} }
// Flexbox Order
.container11 { display: flex; .box10{order: -9} .box1{order: -18} .box8{order: -3} .box1{order: 4} .box6{order: 5} .box9{order: 6} .box4{order: 7} .box7{order: 8;} .box2{order: 9} .box3{order: 10} }
// Justify Content
.container12 { display: flex; justify-content: flex-start;}
.container13 { display: flex; justify-content: flex-end;}
.container14 { display: flex; justify-content: center;}
.container15 { display: flex; justify-content: space-between;}
.container16 { display: flex; justify-content: space-around;}
.wrap .container17 { display: flex; flex-direction: column; justify-content: center; height: 35vh; }
.wrap .container18 { display: flex; flex-direction: column; justify-content: space-between; height: 35vh; }
.wrap .container19 { display: flex; flex-direction: column; justify-content: space-around; height: 35vh; }
// Align Items
.container20 { display: flex; align-items: center;}
.container21 { display: flex; align-items: stretch;}
.container22 { display: flex; align-items: flex-start;}
.container23 { display: flex; align-items: flex-end;}
.wrap .container24 { display: flex; align-items: baseline; height: auto;
    .box:nth-child(1n){font-size: 15px;} .box:nth-child(2n){font-size: 35px;} .box:nth-child(3n){font-size: 42px;} .box:nth-child(4n){font-size: 33px;} .box:nth-child(5n){font-size: 31px;} .box:nth-child(6n){font-size: 81px;} .box:nth-child(7n){font-size: 46px;} .box:nth-child(8n){font-size: 19px;} .box:nth-child(9n){font-size: 70px;} .box:nth-child(10n){font-size: 30px;}}
// Align Content
.wrap .container25 { display: flex; align-content: space-between; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
.wrap .container26 { display: flex; align-content: flex-start; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
.wrap .container27 { display: flex; align-content: flex-end; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
.wrap .container28 { display: flex; align-content: space-around; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
.wrap .container29 { display: flex; align-content: center; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
// Align Self
.wrap .container30 { display: flex; align-items: flex-start; height: 35vh; .box {width: 33.3333%;} .box1 {padding-bottom: 200px; align-self: baseline;} .box2 {padding-bottom: 40px; align-self: center;} .box3 {padding-bottom: 90px; align-self: flex-end;} .box4 {padding-bottom: 20px; align-self: flex-start;} .box5 {padding-bottom: 120px; align-self: stretch;} .box6 {padding-bottom: 80px; align-self: baseline;} .box7 {padding-bottom: 240px; align-self: flex-end;} .box8 {padding-bottom: 160px; align-self: stretch;} .box9 {padding-bottom: 180px; align-self: center;} .box10 {padding-bottom: 280px; align-self: baseline;} }
// Flex
.wrap .container31 { display: flex; align-content: space-between; flex-wrap: wrap; .box1 {flex:1;} .box2 {flex:2;} .box3 {flex:3;} .box4 {flex:4;} .box5 {flex:5;} .box6 {flex:6;} }
// Flex grow shrink basis
.wrap .container32 { display: flex; .box1 {flex-basis: 300px; flex-grow:3; flex-shrink:3;} .box2 {flex-basis: 300px;}  }
.wrap .container33 { display: flex; .box1 {flex-basis: 300px; flex-grow:3; flex-shrink:3;} .box2 {flex-basis: 300px;}  }
// Flex basis and wrap
.wrap .container34 { height: auto; display: flex; flex-wrap: wrap; flex-direction: column; height: 40vh; .box { flex-basis: 110px; flex-grow: 1 } .box3 {flex-grow: 5} .box5 {flex-basis: 199px} } .wrap .container35 { height: auto; display: flex; flex-wrap: wrap; flex-direction: column; min-height: 100vh; .box { flex-grow: 1; } .box3 {flex-grow:4;} .box2 {flex-grow:3;} }
// Flexbox Navigation
nav.flex-nav {

}
html{

}
