/////////////////////////////////////////
// HOUSEKEEPING
/////////////////////////////////////////
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit; -webkit-margin-before:0em; -webkit-margin-after:0em; -webkit-padding-start:0;}
.row{font-family: serif;}

/////////////////////////////////////////
// IMPORTS, VARIABLES, MIXINS
/////////////////////////////////////////
@import 'includes/bootstrap/_normalize';
// @import 'includes/bootstrap/_variables';
// @import 'includes/bootstrap/_glyphicons';
@import 'includes/_fontello-social-icons';
// @import 'includes/_animate';
@import 'includes/_toast';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


$breakpoint-small: 480px;
$breakpoint-medium: 768px;

.wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 1.4444rem;
}

/////////////////////////////////////////
// CUSTOM SASS
/////////////////////////////////////////

body {
    background: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.homepage-hero-module {
    min-width: 100%;
    min-height: 100%;
}

h1 {
    margin-top: 20px;
    font-size: 3vw;
    display: inline-flex;
}

h2 {
    font-size: 2.2vw;
    margin-bottom: 10px;
    line-height: 3vw;
}

.row {
    margin-top: 20px;
}

.box {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    font-size: 3vw;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;
}

.box1 { background: #1abc9c;}
.box2 { background: #1476db;}
.box3 { background: #8e23e2;}
.box4 { background: #2c3749;}
.box5 { background: #ffc530;}
.box6 { background: #fa8f1f;}
.box7 { background: #c43b23;}
.box8 { background: #cde0ff;}
.box9 { background: #00ed9f;}
.box10 { background: #008059;}

.wrap div{
    border: 10px solid rgb(48, 48, 48);
    height: 35vh;
    overflow: hidden;
    margin-bottom: 30px;
    div{border: 0; height: auto; margin: 0;}
}

div > span {color: red;}

// DISPLAY FLEX
.container1 { display: flex; }
.container2 { display: inline-flex;}


// FLEX DIRECTION
.container3 { display: flex; flex-direction: row; border-color: red;}
.container4 { display: flex; flex-direction: row-reverse;}
.axis{ z-index: 2; color:white; font-size: 3vw;}
.wrap .container5 { display: flex; flex-direction:column; height: auto;}
.wrap .container6 { display: flex; flex-direction:column-reverse; height: auto;}


// FLEX WRAP
.container7 { height: 50vh; display: flex; flex-wrap: wrap; .box {width:33.33%; height:20%; font-size: 2vw;} }
.container8 { display: flex; flex-wrap: wrap-reverse; .box {width:33.3333333%;} }
.container9 { display: flex; flex-wrap:wrap; flex-direction: column; .box{height: 33.33%;width: 10%} }
.container10 { display: flex; flex-wrap:wrap-reverse; flex-direction: column; .box{height: 33.33%;} }


// FLEXBOX ORDER
.container11 { display: flex; .box10{order: -9} .box1{order: -18} .box8{order: -3} .box1{order: 4} .box6{order: 5} .box9{order: 6} .box4{order: 7} .box7{order: 8;} .box2{order: 9} .box3{order: 10} }


// JUSTIFY CONTENT
.container12 { display: flex; justify-content: flex-start;}
.container13 { display: flex; justify-content: flex-end;}
.container14 { display: flex; justify-content: center;}
.container15 { display: flex; justify-content: space-between;}
.container16 { display: flex; justify-content: space-around;}
.wrap .container17 { display: flex; flex-direction: column; justify-content: center; height: 45vh; }
.wrap .container18 { display: flex; flex-direction: column; justify-content: space-between; height: 45vh; }
.wrap .container19 { display: flex; flex-direction: column; justify-content: space-around; height: 45vh; }


// ALIGN ITEMS
.container20 { display: flex; align-items: center;}
.container21 { display: flex; align-items: stretch;}
.container22 { display: flex; align-items: flex-start;}
.container23 { display: flex; align-items: flex-end;}
.wrap .container24 { display: flex; align-items: baseline; height: auto;
    .box:nth-child(1n){font-size: 2vw;}
    .box:nth-child(2n){font-size: 3vw;}
    .box:nth-child(3n){font-size: 6vw;}
    .box:nth-child(4n){font-size: 9vw;}
    .box:nth-child(5n){font-size: 4vw;}
    .box:nth-child(6n){font-size: 2vw;}
    .box:nth-child(7n){font-size: 6vw;}
    .box:nth-child(8n){font-size: 9vw;}
    .box:nth-child(9n){font-size: 7vw;} .box:nth-child(10n){font-size: 5vw;}
}

.wrap .container24-5 { display: flex; align-items: baseline; height: auto; align-items: stretch;
    .box:nth-child(1n){font-size: 2vw;}
    .box:nth-child(2n){font-size: 3vw;}
    .box:nth-child(3n){font-size: 6vw;}
    .box:nth-child(4n){font-size: 9vw;}
    .box:nth-child(5n){font-size: 4vw;}
    .box:nth-child(6n){font-size: 2vw;}
    .box:nth-child(7n){font-size: 6vw;}
    .box:nth-child(8n){font-size: 9vw;}
    .box:nth-child(9n){font-size: 7vw;} .box:nth-child(10n){font-size: 5vw;}
}


// ALIGN CONTENT
.wrap .container25 { display: flex; align-content: space-between; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
.wrap .container26 { display: flex; align-content: flex-start; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
.wrap .container27 { display: flex; align-content: flex-end; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
.wrap .container28 { display: flex; align-content: space-around; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }
.wrap .container29 { display: flex; align-content: center; flex-wrap: wrap; height: 35vh; .box {width: 33.3333%;} }


// ALIGN SELF
.wrap .container30 { display: flex; align-items: flex-start; height: 35vh; .box {width: 33.3333%;} .box1 {align-self: baseline;} .box2 { align-self: center;} .box3 { align-self: flex-end;} .box4 { align-self: flex-start;} .box5 {; align-self: stretch;} .box6 { align-self: baseline;} .box7 { align-self: flex-end;} .box8 { align-self: stretch;} .box9 { align-self: center;} .box10 { align-self: baseline;} }


// FLEX
.wrap .container31 { display: flex; align-content: space-between; flex-wrap: wrap; .box1 {flex:1;} .box2 {flex:2;} .box3 {flex:3;} .box4 {flex:4;} .box5 {flex:5;} .box6 {flex:6;} }


// FLEX GROW SHRINK BASIS
.wrap .container32 { display: flex; .box1 {flex-basis: 300px; flex-grow:3; flex-shrink:3;} .box2 {flex-basis: 300px;}  }

.wrap .container33 { display: flex; .box1 {flex-basis: 300px; flex-grow:3; flex-shrink:3;} .box2 {flex-basis: 300px;}  }


// FLEX BASIS AND WRAP
.wrap .container34 {
    max-height: 100vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .container34 .box { font-size: 10px; padding: 0;}
    .box1 { flex:1 1 30px;}
    .box2 { flex:1 1 145px;}
    .box3 { flex:1 1 90px;}
    .box4 { flex:1 1 85px;}
    .box5 { flex:1 1 110px;}
    .box6 { flex:1 1 65px;}
}


// FLEXBOX NAVIGATION
$testred: 1px solid red;
$testgreen: 1px solid green;
$testyellow: 1px solid yellow;

.flex-nav ul {
    border: $testyellow;
    list-style: none;
    display: flex;
    li {
        flex: 3;
        align-self: center;
        text-align: center;
        border: $testgreen;
        display: flex;
        flex-direction: column;

        a {
            padding: 5px;
            text-decoration: none;
            font-size: 1.8vw;
            color: white;
            // border: $testred;
            i {
                font-size: 2.6vw;
                // border: $testgreen;
                line-height: 0;
                display: block;
            }
        }
    }
    li.social {
        flex: 1;
        align-self: center;
    }
}

// MOBILE REORER ELEMENTS
div.wrapper.mobile-reorder {
    height: auto;
}
.toggleNav{display: none;}
.hero img {
    width: 100%;
}

// NESTED V AND H FLEXBOX CENTERING

#nested-center {
    height: auto;
}

.slider img {
    width: 100%;
}

.slider-nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            flex:2; // IS A FLEX ITEM.
            display: flex; // ALSO A CONTAINER.
            border: 1px solid red;
            text-align: center;
            a {
                color: #fff;
                background: rgba(0,0,0,0.2);
                text-decoration: none;
                font-size: 1.5vw;
                padding: 20px 5px;
                flex-basis: 100%;
                display: flex;
                align-items: center;
                span {
                    display: block;
                    width: 100%;
                }
            }
            a:hover {
                background: rgba(255,255,255,0.2);
            }
            .arrow {
                flex: 1;
            }
        }
    }
}

// PRICING GRID
#pricing-grid {
    height: auto;
    display: flex;
    align-items: center;

    .plan {
        flex: 1;
        background: rgba(255,255,255,0.2);
        margin: 20px;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;

        p, li {
            font-size: 2vw;
        }

        h2 {
            font-size: 3vw;
            margin: 20px 0;

        }

        .price {
            font-size: 3vw;
            margin: 20px 0;
        }

        .cta {
            background: yellow;
            padding: 10px;
            display: block;
            text-decoration: none;
            font-size: 3vw;
        }
        .cta:hover{
            background: blue;
            color: yellow;
        }

    }
    .plan > * {
        flex: 1 1 100%;
    }

    .plan:nth-child(2n){
        margin: 20px 0;
    }
}

// EQUAL COLUMNS AND LEFTOVER ELEMENTS
#elements {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding:1%;

    .item{
        font-size: 2vw;
        background: rgba(212, 42, 255, 0.92);
        margin: 1%;
        padding: 1%;
        flex: 1 1 calc(33.33% - 20px);
    }
    .item.small {
        font-size: 1vw;

    }
    .item.large {
        font-size: 1.2vw;

    }
}


/////////////////////////////////////////
// MEDIA QUERIES
/////////////////////////////////////////

// STYLES ACTIVE @ < 480PX
@media (max-width: 480px){

    // FLEXBOX NAV
        .flex-nav ul{
            background: red;
            flex-wrap: wrap;
            li{
                flex: 1 1 100%;
                background: cyan;
            }
            li.social {
                flex: 1 1 25;
                background: purple;
            }
        }
    .toggleNav {
        display: block;
    }

    .toggleNav ~ ul {
        display: none;
    }

    ul.open {
        display: block !important;
    }
}


// STYLES ACTIVE @ > 480PX && < 768PX
@media (min-width: 480px) and (max-width: 768px){

    // FLEXBOX NAV
        .flex-nav ul{
            background: yellow;
            flex-wrap: wrap;
            li{
                flex: 1 1 50%;
                background: orange;
            }
            li.social {
                flex: 1 1 25;
                background: blue;
            }
        }


    // MOBILE-REORDER
        div.wrapper.mobile-reorder {
            display: flex;
            flex-direction: column;
        }

        .mobile-reorder > * {
            order:9999;
        }

        .toggleNav {
            display: block;
        }

        .toggleNav ~ ul {
            display: none;
        }

        .toggleNav ~ ul.open {
            display: block;
        }

        .flex-nav {
            order: 1;
        }
        .top {
            order: 2;
        }
        .details {
            order: 3;
        }
        .signup {
            order: 4;
        }

}

@import 'includes/_sunset_lapse_cover_vid';
