h1 Align Items
h2 20. Item: align-items: center
.container20
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 21. Item: align-items: stretch
.container21
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 22. Item: align-items: flex-start
.container22
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 23. Item: align-items: flex-end
.container23
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 24. Item: align-items: baseline
.container24
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 24.5 Item: align-items: baseline + stretch
.container24-5
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10
