.homepage-hero-module
    .video-container
        .filter
        video.fillWidth(autoplay loop)
            source(src="vid/Sunset-Lapse.mp4" type="video/mp4")
            span Your browser does not support the video tag. I suggest you upgrade your browser.
            source(src="vid/Sunset-Lapse.webm" type="video/webm")
            span Your browser does not support the video tag. I suggest you upgrade your browser.
            source(src="vid/Sunset-Lapse.ogv" type="video/ogv")
            span Your browser does not support the video tag. I suggest you upgrade your browser.
        video
        div.poster.hidden
            img(src="vid/Sunset-Lapse.jpg")
