
h1 Flexbox Navigation
h2 35. Some responsive navigation with viewport-based text size.
nav.flex-nav

    ul
        li
            a(href="#item1" name="#item1") Item 01
        li
            a(href="#item2" name="#item2") Item 02
        li
            a(href="#item3" name="#item3") Item 03
        li
            a(href="#item4" name="#item4") Item 04
        li
            a(href="#item5" name="#item5") Item 05
        li
            a(href="#item6" name="#item6") Item 06
        li.social
            a(href="#fb" name="#fb")
                i.fontello-facebook-squared
        li.social
            a(href="#tw" name="#tw")
                i.fontello-twitter-squared
        li.social
            a(href="#gh" name="#gh")
                i.fontello-github-squared
        li.social
            a(href="#ig" name="#ig")
                i.fontello-instagram-squared
