h1 Flex Wrap
h2 7. Parent: flex-wrap: wrap; height: 20%;
.container7
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10
    p.axis Main axis->
h2 8. Parent: flex-wrap: wrap-reverse;
.container8
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10
    p.axis Main axis->
h2 9. Parent: flex-wrap: wrap; width: 10%;
.container9
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10
    p.axis Cross axis->
h2 10. Parent: flex-wrap: wrap-reverse
.container10
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10
    p.axis <-Cross axis
