h1 Flexbox Navigation
h2 34. Wrap, basis and grow alow complex masonry grids that scale to fill any area.
nav.flex-nav
    ul
        li
            a(href="#") Item 01
        li
            a(href="#") Item 02
        li
            a(href="#") Item 03
        li
            a(href="#") Item 04
        li
            a(href="#") Item 05
        li
            a(href="#") Item 06
        li.social
            a(href="#")
                i.fa.fa-twitter
        li.social
            a(href="#")
                i.fa.fa-facebook
        li.social
            a(href="#")
                i.fa.fa-github
        li.social
            a(href="#")
                i.fa.fa-instagram
