h1 Justify Content
h2 12. Item: justify-content: flex-start
.container12
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 13. Item: justify-content: flex-end
.container13
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 14. Item: justify-content: flex-center
.container14
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 15. Item: justify-content: space-between
.container15
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 16. Item: justify-content: space-around
.container16
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
    .box.box6 6
    .box.box7 7
    .box.box8 8
    .box.box9 9
    .box.box10 10

h2 17. Item: justify-content: center; flex-direction: column;
.container17
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5

h2 18. Item: justify-content: space-between; flex-direction: column;
.container18
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5

h2 19. Item: justify-content: space-around; flex-direction: column;
.container19
    .box.box1 1
    .box.box2 2
    .box.box3 3
    .box.box4 4
    .box.box5 5
