h1 Nested Center
h2 11. Creating complicated layouts by nesting Flexbox

.wrapper#nested-center
    .slider
        img(src="http://lorempixel.com/1080/300/")

    nav.slider-nav
        ul
            li.arrow
                a(href="#")
                    span <-

            li
                a(href="#")
                    span Add a CLI to Node Apps with Vantage
            li
                a(href="#")
                    span NewSprint, Spectacle
            li
                a(href="#")
                    span Small Modules: Tales from a Serial Module Author
            li
                a(href="#")
                    span The End

            li.arrow
                a(href="#")
                    span ->
