h1
    span(class="glyphicon glyphicon-hd-video")
    span  Welcome to Quantum Scaffold

#toasting Waiting for input&nbsp;
    span.blink &#9610;

.row
    .col.col--2-of-2
        .box
            img(src="./img/startup.png")

.row
    .col.col--1-of-2
        .box 1:2
    .col.col--1-of-2
        .box 1:2

.row
    .col.col--1-of-3
        .box 1:3
    .col.col--1-of-3
        .box 1:3
    .col.col--1-of-3
        .box 1:3

.row
    .col.col--1-of-4
        .box 1:4
    .col.col--1-of-4
        .box 1:4
    .col.col--1-of-4
        .box 1:4
    .col.col--1-of-4
        .box 1:4

.row
    .col.col--1-of-6
        .box 1:6
    .col.col--1-of-6
        .box 1:6
    .col.col--1-of-6
        .box 1:6
    .col.col--1-of-6
        .box 1:6
    .col.col--1-of-6
        .box 1:6
    .col.col--1-of-6
        .box 1:6

.row
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
    .col.col--1-of-12
        .box 1:12
